@tailwind base;
@tailwind components;
@tailwind utilities;

.mainMargin{
  @apply m-2;
}

.mainPadding{
  @apply p-4 md:px-20 md:py-2 ;
}

.Hover{
  @apply hover:underline underline-offset-4 cursor-pointer;
}
.btn{
  @apply hover:text-yellow-100 transition duration-300 cursor-pointer;
}
.scrollIMGS{
  animation: scroll 20s linear infinite;
}
.h1{
  @apply text-2xl sm:text-5xl mb-3 font-bold;

}
@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-100% / 3));
  }
}